*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
 background: linear-gradient(90deg, #029457 50%, #689402 50%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

}

#todo-form{
  width: 400px;
  background-color: #fff;
  padding: 40px 20PX;
  border-radius: 15px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,button{
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #333;
}

button{
  background-color: transparent; 
  border: 1px solid #333;
  margin-left: 20px;
  color: #333;
 
}

button:hover{
  background-color: #098013;
  color: #fff;
  cursor: pointer;
}

input:focus{
  outline: none;
}
.todo-container{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-item{
  font-size: 1.2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
}

i {
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}